<!DOCTYPE html>
<html lang="kor">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>수정</title>
</head>
<body>
    <form action="/blog/update/{{blog.id}}" method="post">
        {%csrf_token%}
        <div>
            <label for ="title">제목</label>
            <input type="text" name="title" id="title" value="{{blog.title}}"/>
        </div>
        <div>
            <label for="content">내용</label>
            <textarea name="content" id="content" cols="30" rows="10">{{blog.body}}</textarea>
        </div>
        <button type="submit">글쓰기</button>
    </form>
</body>
</html>